<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free, simple uptime montiroing for HTTP/HTTPS sites of all kinds. When your site goes down, we\'ll send you a text
to let you know. Lorem ipsum dolor sit amet consectetur adipiscing elit venenatis, sagittis inceptos platea odio molestie commodo fusce, sed
est imperdiet aenean varius metus eget. hendrerit litora ac aenean nibh sed. Felis phasellus taciti arcu justo turpis venenatis auctor egestas curae
nascetur sem eu facilisi, himenaeos tincidunt ante montes etiam scelerisque neque consequat nullam aenean convallis dignissim.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>